IMPORTANDO

In [1]:
import pandas as pd
import random
import sqlite3

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
dataset = pd.read_csv('hotel_bookings.csv', sep=',', index_col= None)
print('A')

A

VERIFICANDO COLUNAS

In [15]:
dataset.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [ ]:
VERIFICANDO VAZIOS

In [16]:
print(dataset.isna().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Conferindo coluna agente

In [29]:
testeAgent = dataset['agent']
print(testeAgent)

a

In [ ]:
conferindo coluna companhia

In [30]:
testeCompany = dataset['company']
print(testeCompany)

a

Limpando as colunas agent,company

In [41]:
dataset['company'] = dataset['company'].fillna(0)
dataset['agent'] = dataset['agent'].fillna(0)

Após retirar valores nulos

In [42]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [34]:
linhas_com_nulos_country = dataset[dataset["country"].isnull()]

In [39]:
paises_existentes = dataset['country'].dropna().unique()

# Preenche os NaN com um valor aleatório da lista
dataset['country'] = dataset['country'].apply(
    lambda x: random.choice(paises_existentes) if pd.isna(x) else x
)

In [43]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [45]:
linhas_com_nulos_children = dataset[dataset["children"].isnull()]
print(linhas_com_nulos_children)

            hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type   adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
40600  City Hotel            1          2               2015             August                        32                          3                        1                     0       2       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    0.0      0.0                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-01
40667  City Hotel            1          1               2015             August                        32                          5                        0                     2       2       NaN       0   BB     PRT         Direct            Undefined                  0                       0                               0                  B                  B                0   No Deposit   14.0      0.0                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-04
40679  City Hotel            1          1               2015             August                        32                          5                        0                     2       3       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    0.0      0.0                     0  Transient-Party  18.0                            0                          2           Canceled              2015-08-04
41160  City Hotel            1          8               2015             August                        33                         13                        2                     5       2       NaN       0   BB     PRT      Online TA            Undefined                  0                       0                               0                  B                  B                0   No Deposit    9.0      0.0                     0  Transient-Party  76.5                            0                          1           Canceled              2015-08-09

In [48]:
dataset['children'] = dataset['children'].fillna(dataset['children'].mean())

In [49]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

todos valores limpos!

In [50]:
dataset.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

Conectando banco

In [3]:
banco = sqlite3.connect('BancoDeDados.db')

In [6]:
dataset.to_sql("dados", banco, if_exists="replace", index=False)

119390

In [8]:
consulta = pd.read_sql_query("""
SELECT country, AVG(lead_time) as media_avaliacao
FROM dados
GROUP BY country
ORDER BY media_avaliacao DESC
LIMIT 10;
""", banco)

print(consulta)

  country  media_avaliacao
0     FJI       322.000000
1     FRO       286.400000
2     BEN       274.000000
3     LCA       268.000000
4     KNA       251.500000
5     MYT       208.000000
6     MKD       198.200000
7     BRB       192.000000
8     DOM       185.285714
9     GUY       180.000000

SQL para testar

In [11]:
taxaCancelamentoPorPais= pd.read_sql_query("""SELECT country,
       COUNT(*) AS total_reservas,
       SUM(is_canceled) AS total_canceladas,
       ROUND(SUM(is_canceled) * 100.0 / COUNT(*), 2) AS taxa_cancelamento
FROM dados
GROUP BY country
HAVING total_reservas > 50
ORDER BY taxa_cancelamento DESC
LIMIT 10;""", banco)

print(taxaCancelamentoPorPais)

  country  total_reservas  total_canceladas  taxa_cancelamento
0     ARE              51                43              84.31
1     PRT           48590             27519              56.64
2     AGO             362               205              56.63
3     CHN             999               462              46.25
4     MAR             259               109              42.08
5     KOR             133                55              41.35
6     TUR             248               102              41.13
7     ZAF              80                31              38.75
8     LUX             287               109              37.98
9     RUS             632               239              37.82

In [12]:
ocupacaoMediaHotel = pd.read_sql_query("""
SELECT hotel,
       ROUND(AVG(stays_in_week_nights + stays_in_weekend_nights), 2) AS media_noites
FROM dados
GROUP BY hotel
ORDER BY media_noites DESC;
""", banco)

print(ocupacaoMediaHotel)

          hotel  media_noites
0  Resort Hotel          4.32
1    City Hotel          2.98

In [13]:
receitaPorCanal = pd.read_sql_query("""
SELECT distribution_channel,
       ROUND(AVG(adr), 2) AS media_diaria,
       COUNT(*) AS total_reservas
FROM dados
GROUP BY distribution_channel
ORDER BY media_diaria DESC;
""", banco)

print(receitaPorCanal)

  distribution_channel  media_diaria  total_reservas
0                  GDS        120.55             193
1               Direct        106.65           14645
2                TA/TO        103.29           97870
3            Corporate         69.33            6677
4            Undefined         46.24               5

In [14]:
precoMedioPorMes = pd.read_sql_query("""
SELECT arrival_date_month,
       ROUND(AVG(adr), 2) AS media_preco
FROM dados
GROUP BY arrival_date_month
ORDER BY media_preco DESC;
""", banco)

print(precoMedioPorMes)

   arrival_date_month  media_preco
0              August       140.11
1                July       126.79
2                June       116.67
3                 May       108.70
4           September       105.05
5               April       100.38
6             October        87.91
7            December        81.08
8               March        80.68
9            November        73.79
10           February        73.58
11            January        70.36

In [15]:
mediaCriancasPorCliente = pd.read_sql_query("""
SELECT customer_type,
       ROUND(AVG(children), 2) AS media_criancas
FROM dados
GROUP BY customer_type
ORDER BY media_criancas DESC;
""", banco)

print(mediaCriancasPorCliente)

     customer_type  media_criancas
0        Transient            0.13
1            Group            0.07
2         Contract            0.07
3  Transient-Party            0.03

In [16]:
cancelamentoPorRepeticao = pd.read_sql_query("""
SELECT is_repeated_guest,
       ROUND(AVG(is_canceled) * 100, 2) AS taxa_cancelamento
FROM dados
GROUP BY is_repeated_guest;
""", banco)

print(cancelamentoPorRepeticao)

   is_repeated_guest  taxa_cancelamento
0                  0              37.79
1                  1              14.49

In [17]:
precoPorEstacionamento = pd.read_sql_query("""
SELECT required_car_parking_spaces,
       COUNT(*) AS total,
       ROUND(AVG(adr), 2) AS media_preco
FROM dados
GROUP BY required_car_parking_spaces
ORDER BY required_car_parking_spaces;
""", banco)

print(precoPorEstacionamento)

   required_car_parking_spaces   total  media_preco
0                            0  111974       101.08
1                            1    7383       113.13
2                            2      28       117.20
3                            3       3       120.11
4                            8       2        60.00

In [18]:
comparacaoQuartos = pd.read_sql_query("""
SELECT reserved_room_type,
       assigned_room_type,
       COUNT(*) AS total
FROM dados
WHERE reserved_room_type != assigned_room_type
GROUP BY reserved_room_type, assigned_room_type
ORDER BY total DESC
LIMIT 10;
""", banco)

print(comparacaoQuartos)

  reserved_room_type assigned_room_type  total
0                  A                  D   7548
1                  A                  C   1447
2                  A                  E   1156
3                  A                  B   1123
4                  D                  E    686
5                  A                  F    417
6                  E                  F    404
7                  D                  A    312
8                  A                  I    215
9                  A                  K    210

In [19]:
receitaPorPais = pd.read_sql_query("""
SELECT country,
       ROUND(SUM(adr * (stays_in_week_nights + stays_in_weekend_nights)), 2) AS receita_total
FROM dados
GROUP BY country
HAVING receita_total > 0
ORDER BY receita_total DESC
LIMIT 10;
""", banco)

print(receitaPorPais)

  country  receita_total
0     PRT    14129138.79
1     GBR     5284467.53
2     FRA     4026513.04
3     ESP     3304436.86
4     DEU     2624462.75
5     IRL     1652099.97
6     ITA     1416871.32
7     BEL      979151.86
8     BRA      861397.12
9     NLD      800036.95

In [20]:
rankingPedidosEspeciais = pd.read_sql_query("""
SELECT country,
       COUNT(*) AS total_reservas,
       SUM(total_of_special_requests) AS total_pedidos,
       RANK() OVER (ORDER BY SUM(total_of_special_requests) DESC) AS posicao
FROM dados
GROUP BY country
LIMIT 10;
""", banco)

print(rankingPedidosEspeciais)

  country  total_reservas  total_pedidos  posicao
0     PRT           48590          17850        1
1     GBR           12129           8259        2
2     FRA           10415           7572        3
3     ESP            8568           6082        4
4     DEU            7287           4702        5
5     IRL            3375           2628        6
6     ITA            3766           2464        7
7     BEL            2342           2049        8
8     BRA            2224           1830        9
9     NLD            2104           1676       10