IMPORTANDO

In [1]:
import pandas as pd
import random
import sqlite3

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
dataset = pd.read_csv('hotel_bookings.csv', sep=',', index_col= None)
print('A')

A

VERIFICANDO COLUNAS

In [15]:
dataset.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [ ]:
VERIFICANDO VAZIOS

In [16]:
print(dataset.isna().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

Conferindo coluna agente

In [29]:
testeAgent = dataset['agent']
print(testeAgent)

a

In [ ]:
conferindo coluna companhia

In [30]:
testeCompany = dataset['company']
print(testeCompany)

a

Limpando as colunas agent,company

In [41]:
dataset['company'] = dataset['company'].fillna(0)
dataset['agent'] = dataset['agent'].fillna(0)

Após retirar valores nulos

In [42]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [34]:
linhas_com_nulos_country = dataset[dataset["country"].isnull()]

In [39]:
paises_existentes = dataset['country'].dropna().unique()

# Preenche os NaN com um valor aleatório da lista
dataset['country'] = dataset['country'].apply(
    lambda x: random.choice(paises_existentes) if pd.isna(x) else x
)

In [43]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [45]:
linhas_com_nulos_children = dataset[dataset["children"].isnull()]
print(linhas_com_nulos_children)

            hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type  agent  company  days_in_waiting_list    customer_type   adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
40600  City Hotel            1          2               2015             August                        32                          3                        1                     0       2       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    0.0      0.0                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-01
40667  City Hotel            1          1               2015             August                        32                          5                        0                     2       2       NaN       0   BB     PRT         Direct            Undefined                  0                       0                               0                  B                  B                0   No Deposit   14.0      0.0                     0  Transient-Party  12.0                            0                          1           Canceled              2015-08-04
40679  City Hotel            1          1               2015             August                        32                          5                        0                     2       3       NaN       0   BB     PRT      Undefined            Undefined                  0                       0                               0                  B                  B                0   No Deposit    0.0      0.0                     0  Transient-Party  18.0                            0                          2           Canceled              2015-08-04
41160  City Hotel            1          8               2015             August                        33                         13                        2                     5       2       NaN       0   BB     PRT      Online TA            Undefined                  0                       0                               0                  B                  B                0   No Deposit    9.0      0.0                     0  Transient-Party  76.5                            0                          1           Canceled              2015-08-09

In [48]:
dataset['children'] = dataset['children'].fillna(dataset['children'].mean())

In [49]:
print(dataset.isna().sum())

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

todos valores limpos!

In [50]:
dataset.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

Conectando banco

In [3]:
banco = sqlite3.connect('BancoDeDados.db')

In [6]:
dataset.to_sql("dados", banco, if_exists="replace", index=False)

119390

In [7]:
consulta = pd.read_sql_query("""
SELECT country, AVG(rating) as media_avaliacao
FROM dados
GROUP BY country
ORDER BY media_avaliacao DESC
LIMIT 10;
""", banco)

print(consulta)

DatabaseError: Execution failed on sql '
SELECT country, AVG(rating) as media_avaliacao
FROM dados
GROUP BY country
ORDER BY media_avaliacao DESC
LIMIT 10;
': no such column: rating